.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 880px;
  height: 119px;
  width: calc(100% - 31.25%);
  margin: 0 auto;
  border-bottom: 1px solid #545454bb;
}

@media screen and (max-width: 1023px) {
  .header {
    width: calc(100% - 20%);
  }
}

@media screen and (max-width: 767px) {
  .header {
    height: 84px;
    width: calc(100% + 1px);
  }
}
