.profile__place-add-button {
  background-color: transparent;
  background-image: url(../../../images/add-button.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 22px;
  border: 2px solid white;
  border-radius: 2px;
  min-height: 50px;
  width: 150px;
  min-width: 50px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: visible;
  margin-left: auto;
  opacity: 1;
}

@media screen and (max-width: 767px) {
  .profile__place-add-button {
    margin: 36px auto 0;
    width: 100%;
  }
}

.profile__place-add-button:hover {
  transition: 0.2s;
  opacity: 0.6;
  cursor: pointer;
}
