.profile__description {
  font-size: 18px;
  line-height: 22px;
  font-weight: 400;
  color: white;
  margin: 0;
  padding: 0;
  max-width: 336px;
  width: 100%;
  margin-top: 12px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media screen and (max-width: 1279px) {
  .profile__description {
    font-size: calc(14px + (18 - 14) * ((100vw - 320px) / (1279 - 320)));
    line-height: calc(17px + (22 - 17) * ((100vw - 320px) / (1279 - 320)));
  }
}

@media screen and (max-width: 767px) {
  .profile__description {
    margin-top: 8px;
    text-align: center;
  }
}
